.game-container,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  display: none;
}

button, a {
  display: block;
  appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.screens {
  .screen {
    border-radius: 8px;
    overflow: hidden;
    padding: 20px 24px;
    color: black;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none;
    flex-direction: column;
    align-items: center;

    img {
      height: 70px;
    }
  }

  #start-screen {
    top: 60%;
  }

  #reward-screen,
  #gamewin-screen {
    top: 65%;
  }

  #gameover-screen {
    top: 55%;
  }
}

.visible {
  display: flex !important;
}

input {
  min-width: 120px;
  line-height: 16px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #5d6268;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
}


.background {
  aspect-ratio: 9/16;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;

  &:has(#start-screen.visible) {
    background-image: url("/mini-game/assets/images/ecran_1.png");
  }

  &:has(#gamewin-screen.visible),
  &:has(#reward-screen.visible)  {
    background-image: url("/mini-game/assets/images/ecran_2.png");
  }

  &:has(#gameover-screen.visible) {
    background-image: url("/mini-game/assets/images/ecran_3.png");
  }
}