<div id="catchContainer" class="game-container">
  <canvas id="catchGame" width="540" height="960"></canvas>
</div>

<div class="screens">
  <div id='start-screen' class='screen visible'>
    <button [disabled]="!canStart" (click)="gameStart()">
      <img src="/mini-game/assets/images/start_game.png">
    </button>
  </div>
  <div id='gameover-screen' class='screen'>
    <div>
      <button (click)="gameStart()">
        <img src="/mini-game/assets/images/restart_btn.png">
      </button>
    </div>
    <div>
      <a href="https://www.elefant.md">
        <img src="/mini-game/assets/images/go_back_btn.png">
      </a>
    </div>
  </div>
  <div id='gamewin-screen' class='screen'>
    <div>
      <input type="text" [(ngModel)]="userEmail" placeholder="mail@example.com">
    </div>
    <button [disabled]="!userEmail" (click)="claimGift()">
      <img src="/mini-game/assets/images/pick.png">
    </button>
  </div>
  <div id='reward-screen' class='screen'>
    <a href="https://www.elefant.md">
      <img src="/mini-game/assets/images/go_back_btn.png">
    </a>
  </div>
  <div class="backdrop">
    <img class="bg-img ecran_1" src="/mini-game/assets/images/ecran_1.png">
    <img class="bg-img ecran_2" src="/mini-game/assets/images/ecran_2.png">
    <img class="bg-img ecran_3" src="/mini-game/assets/images/ecran_3.png">
  </div>
</div>


